%h2.page-header
	= @header
.m-t-xl
	.people
		.row
			- @users.each do |user|
				.col-sm-4.col-lg-3
					.user
						.row
							.col-xs-8.col-sm-offset-2
								-if user.avatar.present?
									= image_tag user.avatar, class: 'foto img-sircle'
								- else
									%a{href: user_path(user)}
										= image_tag 'unknow.gif', class: 'foto img-circle'
						.row
							.col-xs-12
								%h2.align
									%a{href: user_path(user)}
										= user.username
						.row
							.col-xs-12
								%h4.align Amound of pages: #{user.posts.count}
						.row.align.wrapper-sm
							.col-xs-12
								.btn-group.btn-group-justified
									= link_to 'Перейти', user, class: 'btn btn-info btn-block'
				= will_paginate @users
