#site-wrapper
  #site-canvas
    #site-menu
      %section.hbox.stretch
        %aside.aside-lg.bg-black
          %section.vbox.step-sidebar
            %header.header.bg-black.lt
              %a{ href: "/", title: "Home page"}
                = image_tag "logo_r.png", class: "navbar-brand"
            %section.scrollable 
              #menu-box
                .container
                  =image_tag "shane_founder.jpg", class: "img-circle"
                  %span Shane 
                %ul.btn.btn-group.btn-group-vertical
                  %li.btn
                    %a.btn.btn-lg{ href: "/", title: "PATHS"} 
                      = fa_icon('road')
                      PATH
                  %li.btn
                    %a.btn.btn-lg{ href: "/", title: "MAPS"} 
                      = fa_icon('location-arrow')
                      MAPS
                  %li.btn
                    %a.btn.btn-lg{ href: "/", title: "ACTIVITES"} 
                      = fa_icon('bell')
                      ACTIVITES
                  %li.btn
                    %a.btn.btn-lg{ href: "/", title: "Progress"} 
                      = fa_icon('tasks ')
                      PROGRESS
                .col-xs-1.col-xs-offset-3
                  %a.btn.btn-sm.navbar-btn{href: "/", title:"Setting"}
                    = fa_icon('gear')
                .col-xs-1
                  %a.btn.btn-sm.navbar-btn{href:"/", title:"Invite friends"}
                    = fa_icon('users')
                .col-xs-1
                  %a.btn.btn-sm.navbar-btn{href: "/", titele: "Comments"}
                    = fa_icon('comments')
    %section.vbox
      %header.header.bg-light.lter.b-b
        %a#slide_button.toggle-nav.navbar-left{:href => "#"}
          = fa_icon('bars')
        %a#header{ href: "/", title: "Home page"}
          = image_tag "logo_r.png", class: "navbar-brand"
      %section.resource.scrollable
        Main Content
        
