= form_for([@user, @post, @post.comments.build]) do |f| 
	= f.hidden_field :user_id, value: current_user.id 
	= f.hidden_field :post_id, value: @post.id
	.form-group
		= f.text_area :content, placeholder: 'Написати коментар', class: 'form-control'
	= f.submit 'Готово', class: 'btn btn-success'