= form_for @post do |p|
	%p
		= p.hidden_field :user_id, value: current_user.id
	%p
		= p.text_field :title, placeholder: 'Subject', class: 'form-control'
	%p
		= p.text_area :content, placeholder: 'Content', class: 'form-control ckeditor', rows:  10, cols: 60
	%p
		= p.submit 'Add new', class: ' btn btn-my'