.col-lg-9
	%h3.align Шпаргалки
	%hr
	- @posts.each do |post|
		.panel
			.panel-body
				%h3.clearfix.m-b
					= post.title
				%hr
				%h5 created by #{link_to post.user.username, user_path(post.user)} #{time_ago_in_words(post.created_at)} ago
				%hr
				%p
					= strip_tags(post.content).truncate(300)
			.panel-footer.bg-light.lter
				.nav.nav-pills
					
					- if current_user == post.user
						= link_to 'Подивитися', user_post_path(post.user, post), class: 'btn btn-info pull-right view-btn-2'
						= link_to(fa_icon('trash', title: 'Delete'), post, confirm: 'Are you sure?', method: :delete, class: 'btn navbar-btn ')
						= link_to(fa_icon('edit', title:'Редагувати'), edit_user_post_path(post.user, post), class: "btn navbar-btn")
					- else
						= link_to 'Подивитися', user_post_path(post.user, post), class: 'btn btn-info pull-right '
						- if current_user.favorites.find_by_post_id(post.id)
							%i.fa.fa-star.star-sm.favorite{ data: {post_id: post.id, user_email: current_user.id} } 
						- else
							%i.fa.fa-star.star-sm.unfavorite{ data: {post_id: post.id, user_email: current_user.id} }
	.align
		= will_paginate @posts	
.col-lg-3
	%h3.align Нещодавно додані
	%hr
	.panel
		- @recent_posts.each do |page|
			%h4.align
				= link_to page.title, user_post_path(page.user, page)
	%h3.align Категорії
	.panel.wrapper-sm
		= render 'layouts/tag_cloud'

