%h3.align My shporas
%hr
- @posts.each do |post|
	.panel
		.panel-body
			%h3.clearfix.m-b
				= post.title
			%hr
			%p
				= raw(post.content)
		.panel-footer.bg-light.lter
			= link_to 'View', user_post_path(post.user, post), class: 'btn btn-info pull-right view-btn'
			.nav.nav-pills
				%li
					= link_to(fa_icon('trash', title: 'Delete'), post, confirm: 'Are you sure?', method: :delete, class: 'btn btn-lg navbar-btn')
= will_paginate @posts
