%header.header.bg-black.lt
  %a{ href: posts_path, title: "Home page"}
    = image_tag "logo_m.png", class: "navbar-brand logo"
%section.scrollable 
  #menu-box
    .wrapper
      - if current_user.avatar.present?
        = image_tag current_user.avatar, class: 'img img-circle'
      - else
        = image_tag 'unknow.gif', class: 'img img-circle'
      %span.text 
        = current_user.username
      = link_to "Створити шпору", new_post_path, class:"btn btn-my"
    .nav-primary
      %ul.nav
        %li{class: "#{'active' if controller_name == 'posts'}"}
          = link_to(fa_icon('book', text:"Шпаргалки"), posts_path)
        %li{class: "#{'active' if controller_name == 'invites'}"}
          = link_to(fa_icon('users', text:'Населення'), invite_path)
        %li{class: "#{'active' if controller_name == 'users'}"}
          = link_to(fa_icon('user', text:'Моя сторінка'), user_path(current_user))
        %li{class: "#{'active' if controller_name == 'registrations'}"}
          = link_to(fa_icon('tasks', text: 'Настройки'), edit_user_registration_path)
%footer.bg-black.lt

  .col-xs-2.col-xs-offset-4
    = link_to(fa_icon('users', title:'Invite friends'), invite_path, class:"btn btn-sm navbar-btn")
