%header.header.bg-black.lt
  %a{ href: "/", title: "Home page"}
    = image_tag "logo_m.png", class: "navbar-brand logo"
%section.scrollable 
  #menu-box
    .wrapper
      =image_tag "unknow.gif", class: "img-circle"
      %span.text 
        = current_user.username
      = link_to"Створити шпору",new_post_path, class:"btn btn-my"
    .nav-primary
      %ul.nav
        %li{class: "#{'active' if controller_name == 'posts'}"}
          = link_to(fa_icon('book', text:"Шпаргалки"), posts_path)
        %li{class: "#{'active' if controller_name == 'invites'}"}
          = link_to(fa_icon('users', text:'Населення'), invite_path)
        %li{class: "#{'active' if controller_name == 'users'}"}
          = link_to(fa_icon('user', text:'Моя сторінка'), user_path(current_user))
        %li{class: "#{'active' if controller_name == 'registrations'}"}
          = link_to(fa_icon('tasks', text: 'Настройки'), edit_user_registration_path)
      %p Шпаргалок на сайті #{Post.count}
%footer.bg-black.lt
  .col-xs-2.col-xs-offset-2
    = link_to(fa_icon('gear', title:'Edit profile'),edit_user_registration_path, class:"btn btn-sm navbar-btn")
  .col-xs-2
    = link_to(fa_icon('users', title:'Invite friends'), invite_path, class:"btn btn-sm navbar-btn")
  .col-xs-2
    = link_to(fa_icon('comments', title:'Comments'), comment_path, class:"btn btn-sm navbar-btn")