%header.header.bg-black.lt
  %a{ href: "/", title: "Home page"}
    = image_tag "logo_r.png", class: "navbar-brand"
%section.scrollable 
  #menu-box
    .wrapper
      =image_tag "shane_founder.jpg", class: "img-circle"
      %span.text Shane
      = link_to(fa_icon('plus', text: "Follow"),path_path, class:"btn btn-success") 
    .nav-primary
      %ul.nav
        %li{class: "#{'active' if controller_name == 'paths'}"}
          = link_to(fa_icon('road', text:'PATH'), path_path)
        %li{class: "#{'active' if controller_name == 'maps'}"}
          = link_to(fa_icon('location-arrow', text:'MAPS'), map_path)
        %li{class: "#{'active' if controller_name == 'activites'}"}
          = link_to(fa_icon('bell', text:'ACTIVITES'), activites_path)
        %li{class: "#{'active' if controller_name == 'progresses'}"}
          = link_to(fa_icon('tasks', text: 'PROGRESS'), progress_path)
%footer.bg-black.lt
  .col-xs-2.col-xs-offset-2
    = link_to(fa_icon('gear', title:'Setting'),setting_path, class:"btn btn-sm navbar-btn")
  .col-xs-2
    = link_to(fa_icon('users', title:'Invite friends'), invite_path, class:"btn btn-sm navbar-btn")
  .col-xs-2
    = link_to(fa_icon('comments', title:'Comments'), comment_path, class:"btn btn-sm navbar-btn")
