!!!
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title Demo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #site-wrapper
      #site-canvas
        #site-menu
          %section.hbox.stretch
            %aside.aside-lg.bg-black
              %section.vbox.step-sidebar
                = render 'layouts/sidebar'
        %section.vbox
          %header.header.bg-light.lter.b-b
            #search-box
              .m-box
                = fa_icon('search')
              %form
                %input{type: "search", placeholder:"EXPLORE"}
            #box
              = link_to(fa_icon('plus'), progress_path)
          %section.resource.scrollable
            #content
              .row
                .col-lg-8
                  .panel
                    Main Content
                    = yield
                .col-lg-4
                  .panel
                    Not main
                  