!!!
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
    %title
      = yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  - if user_signed_in?
    #site-wrapper
      #site-canvas
        #site-menu
          %section.hbox.stretch
            %aside.aside-lg.bg-black
              %section.vbox.step-sidebar
                = render 'layouts/sidebar'
        %section.vbox
          %header.header.bg-light.lter.b-b
            = render 'layouts/registration'
            .search
              = form_tag(posts_path, method: 'get') do
                .col-sm-3
                  = text_field_tag :search, params[:search], placeholder: 'Looking for a shpora', class: 'form-control'
                .col-sm-1
                  %button.btn.btn-info{type: 'submit', name: nil}
                    = fa_icon('search')
          %section.resource.scrollable
            .container.padding-bottom
              = yield
          #footer.bg-light.lter.b-b
            .text
              &copy 2014 Шпора
            .counter-1
              %small
                #{User.count}
              :javascript
                <!--
                document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t26.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число посетителей за"+
                " сегодня' "+
                "border='0' width='88' height='15'><\/a>")




  - else
    %section.vbox
      #top
      #header
        .inside
          #logo
            .text
              = Post.count
          %h1.align.title Шпаргалок на сайті!!!
      = yield
      %hr
      %footer#footer
        .text
          &copy 2014 Шпора
        .counter
          %small
            #{User.count}
          :javascript
            <!--
            document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t26.6;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число посетителей за"+
            " сегодня' "+
            "border='0' width='88' height='15'><\/a>")

