!!!
%html
  %head
    %meta{ :name => 'viewport', :content => 'initial-scale=1, maximum-scale=1, user-scalable=no' }
    %title Demo
    = stylesheet_link_tag    'phone/application-phone', media: 'all'
    = javascript_include_tag 'phone/application-phone'
    = csrf_meta_tags
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body
    #site-wrapper
      #site-canvas
        #site-menu
          %section.hbox.stretch
            %aside.aside-lg.bg-black
              %section.vbox.step-sidebar
                =render 'layouts/sidebar'
        %section.vbox.transbox
          %header.header.bg-light.lter.b-b
            %a#slide_button.toggle-nav.navbar-left{href: "#"}
              = fa_icon('bars')
          %section.resource.scrollable.transbox
            .active-spot.toggle-nav
            #content
              .row
                .col-lg-12
                  Main Content
                  = yield