!!!
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title 
      = yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  - if user_signed_in?
    #site-wrapper
      #site-canvas
        #site-menu
          %section.hbox.stretch
            %aside.aside-lg.bg-black
              %section.vbox.step-sidebar
                = render 'layouts/sidebar'
        %section.vbox
          %header.header.bg-light.lter.b-b
            = render 'layouts/registration'
            #search-box
              .m-box
                = fa_icon('search')
              %form
                %input{type: "search", placeholder:"Шукати"}
          %section.resource.scrollable
            #content.scroll
              = yield
          %footer
            &copy 2014 Шпора


                    
  - else
    %section.vbox
      %header.header.bg-light.lter.b-b
        = image_tag "logo_m.png", class: "navbar-brand logo"
        = render 'layouts/registration'
      = yield
      %hr
      %footer.bg-light.lter.b-b
        &copy 2014 Шпора

          