- if user_signed_in?
	.col-lg-9	
		%h3.align Шпаргалки
		%hr
		- @posts.each do |post|
			.panel
				.panel-body
					%h3.clearfix.m-b
						= post.title
					%hr
					%p
						= raw(post.content)
				.panel-footer.bg-light.lter
					.nav.nav-pills
						= link_to 'Подивитися', user_post_path(post.user, post), class: 'btn btn-info pull-right view-btn'
						- if current_user != post.user.id  	
							- if current_user.favorites.find_by_post_id(post.id)
								%i.fa.fa-star.favorite#make-favorite.view-btn{ data: {post_id: post.id, user_email: post.user.id} } 
							- else
								%i.fa.fa-star.unfavorite#make-favorite.view-btn{ data: {post_id: post.id, user_email: post.user.id} }
	.col-lg-3
		%h3.align Реклама
	.align
		= will_paginate @posts

- else
	.container.theme-showcase.welcome
		.row
			.jumbotron
				%h1 Шпора
				%p Перший українськомовний сервіс для студентів та школярів
				%p який допоможе здати всі екзамени та написати контрольні на відмінно :)
				%p Для цього потрібно лише зареєструватися!
				%p Зараз тут #{Post.count} шпор на різні теми, добавляй свою!
				= link_to 'Почати', new_user_registration_path, class: "btn btn-success"
