= content_for(:title, "Шпаргалки")
- if user_signed_in?
	= render 'posts/posts'
- else
	.container.align
		
		.row
			.col-lg-4
				%h3 Вхід
				= render 'layouts/auth'
			.col-lg-4
				%h3 Недавно додані
				#post-list
					- @recent_posts.each do |page|
						%p.align
							= page.title				
			.col-lg-4
				%h3 Реєстрація
				= render 'layouts/reg'
		.row
			.col-lg-12
				%h3.wrapper Щоб переглянути шпаргалки ввійдіть на сайт! :)